*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto Slab', serif;
    background-color: #ffff;
}
.site-header{
    background-image: url(ap22156241901348-21d37429b8b1ee3e1e815a473a1091055cfaa11f-s900-c85.webp);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.content{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
        height: 100vh;
        color: #ffff;
        font-family: 'Poppins', sans-serif;
    padding: 10px 80px;
    margin: 2%;
}


.button{
    padding: 10px 15px;
    text-decoration: none;
    background-color: #009dff;
    color:#ffff;
    margin-top: 30px;
    border-radius: 5px;
}
.bluish{
    color:#eb35ff;
}
.center{
    text-align: center;
}
.funding{
    font-family: 'Poppins', sans-serif;
    margin: 60px 60px;
    padding: 30px;
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.box{
    background-color: rgb(250, 244, 244);
    margin-left: 15px;
    width: 90px;
    height: 85px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    background-color: rgb(116, 121, 116);
    margin-left: 15px;
    width: 80px;
    height: 90px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00b3ff;
    color: #ffff;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
  
}
.form input{
border: none;
border-bottom: 1px solid black;
padding: 10px 15px;
width: 40%;
}
#submit{
    width: 100px;
}
.donation_plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parent-card{
    display: flex;
    margin: 40px 20px;
    align-items: center;
    justify-content: center;
}

.card{
    width: 15%;
    padding: 40px 20px;
    margin-left: 20px;
    border-radius: 4px;
}
.card img{
    width: 47px;
    height: 47px;
    margin: 15px 0px;
}

#card1{
    background-color: #c0bcb9;
}
#card2{
    background-color: #e3e0dd;
}
#card3{
background-color: #dfdbe4;
}
.contribution{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
    padding: 20px 5px;
   
}

.half-width{
    width: 50%;
    height: auto;
    margin: 20px;
}
.half-width img{
   width: 100%;
   border-radius: 4px;

}
.button1{
    padding: 6px 15px;
    text-decoration: none;
    background-color:#3ad0fe;
    color: rgb(9, 8, 8);
    border-radius: 4px;
}
.half-width p{
    margin: 20px 0px;
    font-family: 'Rubik', sans-serif;
    color: rgb(45, 45, 45);
}
.contact-section{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact{
    background-color: rgb(173, 165, 130);
    width: 40%;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
.contact input{
border: none;
padding: 9px;
border-radius: 3px 0px 3px 3px;
background-color: rgb(204, 201, 198);
}
.contact button{
    border: none;
    padding: 9px 20px;
border-radius: 0px 3px 3px 0px;
margin-left: -2px;
background-color: rgb(236, 80, 80);
color: white;
}
.contact-section p{
    font-family: 'Rubik', sans-serif;
    color: rgb(45, 45, 45);
}
footer{
    background-color: rgb(7, 8, 16);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    color: white;
}
footer h1{
    color: #00ff59;
}
footer p{
    font-size: smaller;
}
.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3ad0fe;
    color: white;
 width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
